<p id="notice"><%= notice %></p>

<p>
  <strong>Ship:</strong>
  <%= @assignment.ship_name %>
</p>

<p>
  <strong>Job:</strong>
  <%= @assignment.job_name %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
