<p id="notice"><%= notice %></p>

  <%=image_tag @ship.image.url(:medium)%>
<p>
  <strong>Name:</strong>
  <%= @ship.name %>
</p>

<p>
  <strong>Containers:</strong>
  <%= @ship.containers %>
</p>

<p>
  <strong>Location:</strong>
  <%= @ship.location %>
</p>

<p>
  <strong>Captain:</strong>
  <%= @ship.user.email %>
</p>


<%= link_to 'Edit', edit_ship_path(@ship) %> |
<%= link_to 'Back', ships_path %>
